[tools]
ansible = "latest"
python = "latest"
sops = "latest"
terraform = "latest"

[env]
SOPS_AGE_KEY_FILE = "age.key"

[tasks.tfplan]
run = """
export AWS_ACCESS_KEY_ID=$(sops --decrypt secrets.yaml | grep 's3_access_key:' | awk '{print $2}')
export AWS_SECRET_ACCESS_KEY=$(sops --decrypt secrets.yaml | grep 's3_secret_key:' | awk '{print $2}')
terraform plan
"""

[tasks.tfapply]
run = """
export AWS_ACCESS_KEY_ID=$(sops --decrypt secrets.yaml | grep 's3_access_key:' | awk '{print $2}')
export AWS_SECRET_ACCESS_KEY=$(sops --decrypt secrets.yaml | grep 's3_secret_key:' | awk '{print $2}')
terraform apply
"""

[tasks.tfdestroy]
run = """
export AWS_ACCESS_KEY_ID=$(sops --decrypt secrets.yaml | grep 's3_access_key:' | awk '{print $2}')
export AWS_SECRET_ACCESS_KEY=$(sops --decrypt secrets.yaml | grep 's3_secret_key:' | awk '{print $2}')
terraform destroy
"""

[tasks.tfinit]
run = """
export AWS_ACCESS_KEY_ID=$(sops --decrypt secrets.yaml | grep 's3_access_key:' | awk '{print $2}')
export AWS_SECRET_ACCESS_KEY=$(sops --decrypt secrets.yaml | grep 's3_secret_key:' | awk '{print $2}')
terraform init
"""

[tasks.ansible-ping]
run = "ansible proxmox_cluster -i ansible/proxmox-inventory.ini -m ping"

[tasks.ansible-setup-cluster]
run = "ansible-playbook ansible/setup-proxmox-cluster.yml -i ansible/proxmox-inventory.ini"

[tasks.ansible-setup-nosub]
run = "ansible-playbook ansible/configure-no-subscription-repo.yml -i ansible/proxmox-inventory.ini"
