[tools]
ansible = "latest"
python = "latest"
sops = "latest"
terraform = "latest"

[tasks.tfplan]
run = "terraform plan -var-file='secrets.tfvars'"
[tasks.tfapply]
run = "terraform apply -var-file='secrets.tfvars'"
[tasks.tfdestroy]
run = "terraform destroy -var-file='secrets.tfvars'"
