[tools]
ansible = "latest"
python = "latest"
sops = "latest"
terraform = "latest"

[env]
SOPS_AGE_KEY_FILE = "age.key"

[tasks.tfplan]
run = "terraform plan"

[tasks.tfapply]
run = "terraform apply"

[tasks.tfdestroy]
run = "terraform destroy"
